body {
  background-color: #1b1717;
  color: white;
}
.box {
  background-color: white;
  width: 375px;
  height: 25px;
  text-align: center;
  margin: 250px auto;
}
a {
  color: black;
}

.box1 {
  border: solid 1px black;
}
.current {
  background-color: black;
}
.current1 {
  color: white;
}
